{% extends "base.html" %}

{% block content %}

    <div class="container">
		<div class="table-responsive">
			<div class="table-wrapper">
				<div class="table-title">
					<div class="row">
						<div class="col-6">
							<h2>Lista de Permisos</h2>
						</div>
						<div class="col-6">
                            <form class="d-flex" role="search">
                                <input class="form-control me-2" id="search-permits" type="search" value="{{ search_query }}" placeholder="Buscar Permiso" aria-label="Search">
                            </form>
                        </div>
					</div>
                    <hr>
                    <div class="row">
                        <div class="col-12">
                            <div class="dropdown">
                                <a class="btn dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Tipo de Permiso
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="?filter=1">Activo</a></li>
                                    <li><a class="dropdown-item" href="?filter=0">Liquidado</a></li>
                                </ul>
                            </div>
                            <a href="{% url 'permits_create' %}" class="btn btn-success" data-toggle="modal"><i class="fa fa-user-plus"></i> <span>Crear Permiso</span></a>
						</div>
                    </div>
				</div>
                {% if permits %}
				<table class="table table-striped table-hover">
					<thead>
						<tr>
                            <th>Código</th>
							<th>Nombre</th>
                            <th>Cédula</th>
                            <th>Permiso</th>
							<th>Fecha Emisión</th>
                            <th>Fecha Caducidad</th>
                            <th></th>
						</tr>
					</thead>
					<tbody id="permits-table">
                        {% for permit in permits %}
                        <tr>    
                            <td>{{ permit.permit_code|stringformat:"06d" }}</td>
                            <td>{{ permit.client.name }} {{ permit.client.last_name }}</td>
                            <td>{{ permit.client.national_id }}</td>
                            <td>{{ permit.get_permit_mode_display }}</td>
                            <td>{{ permit.issue_date }}</td>
                            <td>{{ permit.expiration_date }}</td>
                            <td>
                                <div class="row">
                                    <div class="col-4">
                                        <a href="" class="list" data-toggle="modal"><i class="fa fa-search"></i></a>
                                    </div>
                                    <div class="col-4">
                                        <a href="" class="edit" data-toggle="modal"><i class="fa fa-pen-to-square"></i></a>
                                    </div>
                                    <div class="col-4">
                                        <!-- Button trigger modal -->
                                        <a type="button" class="delete" data-bs-toggle="modal" data-bs-target="#permitModal-{{permit.pk}}">
                                            <i class="fa fa-trash"></i>
                                        </a>
                                        <!-- Modal -->
                                        <div class="modal fade" id="permitModal-{{permit.pk}}" tabindex="-1" aria-labelledby="permitModalLabel" aria-hidden="true">
                                            <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h1 class="modal-title fs-5" id="permitModalLabel">Deshabilitar Permiso</h1>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    <p>¿Desea Deshabilitar el permiso <b> {{ permit.permit_code }} </b>?</p>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                                                    <a class="btn btn-danger" style="color:white" href="">Deshabilitar</a>
                                                </div>
                                            </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
					</tbody>
				</table>
                {% else %}
                <p>No se ha generado permisos.</p>
                {% endif %}
                {% include 'pagination.html' %}
			</div>
		</div>        
	</div>

    <script>
        document.getElementById("search-permits").addEventListener("input", function() {
          let query = this.value;
          fetch(`?q=${query}`)
            .then(response => response.text())
            .then(data => {
              let parser = new DOMParser();
              let htmlDoc = parser.parseFromString(data, 'text/html');
              let newTableBody = htmlDoc.getElementById("permits-table").innerHTML;
              document.getElementById("permits-table").innerHTML = newTableBody;
            });
        });
    </script>
   
{% endblock %}
