{% extends 'base.html' %}

{% block content %}
<section class="vh-100">
    <div class="container py-5">
      <div class="row d-flex justify-content-center align-items-center">
        <div class="col col-xl-8">
          <div class="card" style="border-radius: 1rem;">
            <div class="row g-0">
              <div class="d-flex align-items-center">
                <div class="card-body p-4 p-lg-5 text-black">
                  
                    <h2>Generar nueva contraseña para el usuario: {{ object.username }}</h2>                    
  
                    <form method="post">
                        {% csrf_token %}

                        <p>
                            <label for="id_new_password">Nueva contraseña:</label>
                            <input type="password" class="form-control" name="new_password" required="" id="id_new_password">
                        </p>
                        <p>
                            <label for="id_confirm_password">Confirmar contraseña:</label>
                            <input type="password" class="form-control" name="confirm_password" required="" id="id_confirm_password">
                        </p>
    
                        <div class="row">
                            <div class="col-6">
                                <a style="width: 100%" href="{% url 'users_list' %}" class="btn btn-secondary">Cancelar</a>
                            </div>
                            <div class="col-6">
                                <button data-mdb-button-init data-mdb-ripple-init class="btn btn-dark btn-block" type="submit" style="background-color: #E57373;width:100%;display:block;">
                                    {% if object %}Editar{% else %}Crear{% endif %}
                                </button>
                            </div>
                        </div>
                    </form>
  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
